.Posts-img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: rgba(78, 77, 77, 0.46);
}

.Posts-img-container {
  display: inline-block;
  position: relative;
}


.Posts-img-container:hover .overlay {
  opacity: 1;
}


.Posts-img-container:hover .Posts-img {
  opacity: 0.8;
}

.Posts-img-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal {
  display: flex !important;
  width: 100%;
}

.modal-dialog {
  display: flex !important;
  align-items: center !important;
  // width: 100%;
  min-width: 90%;
  margin: 0 auto;
}

.Posts-modal-img {
  height: auto;
  width: 100%;
  // max-width: 920px;
}

