.Compact {
  justify-content: center;
  > div {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
  }
}

.img-avatar {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.text-grey {
  color: #6c757d;
}

a {
  text-decoration: none !important;
}
